.divisionsTable {
  .ant-pagination {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 36px;
    width: 36px;
    height: 36px;
    margin: 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
  }

  .ant-pagination-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #595959;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none !important;
    background: transparent !important;
    color: #595959;
  }

  .ant-pagination-item-active {
    border-color: #1677ff;
    background: #fff;
  }

  

  .ant-pagination-disabled {
    background: #fff;
    border-color: #e8e8e8;
  }

  .ant-pagination-disabled .ant-pagination-item-link {
    color: #bfbfbf !important;
  }

  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    margin: 0;
  }

  .ant-pagination-total-text {
    float: left;
    margin-right: auto;
    color: #8c8c8c;
  }

  .ant-pagination-options {
    margin-left: 16px;
  }

  .ant-pagination-options .ant-select-selector {
    height: 36px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    background: #fff;
  }
}